[flake8]
max-line-length = 120
exclude =
    migrations,
    venv,
    static,
    media,
    logs,
    .github,
    __pycache__

ignore =
    F401,
    F403,
    F405,
    F811,
    F821,
    E501,
    W503